/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.container-s {
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
}

.container-l {
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    font-size: 2.5rem;
}

section {
    margin-top: 40px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.blue-btn {
    padding: .5rem 1rem;
    background-color: rgb(0 97 255);
    color: white;
    display: inline-block;
}

.blue-btn:hover {
    background-color: rgba(0, 97, 255, 0.8)
    
}

/* Header */

header {
    height: 80px;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.header-flex {
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.row-h {
    display: flex;
    align-items: center;
}

header a {
    color: black;
}

header ul {
    display: flex;
}

header li {
    margin: 1rem;
}

header li:hover {
    text-decoration: underline;
}

/* Main */

main {
    margin-top: 80px;   
}

/* Hero */

.hero {
    background-color: rgb(180 208 231);
    
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.row-hero-s {
    width: 30%;
}

.row-hero-s > *  {
    margin-bottom: 1rem;
}


.row-hero-l {
    width: 68%;    
}


.flex-hero {
    justify-content: space-between;
}

/* Subscription section */

.flex-sub {
    justify-content: space-between;
}

.row-sub {
    width: 32%;
    /* debug */
    height: 100px;
    background-color: lightseagreen;
}

.enterprise {
    margin-top: 30px;
    /* debug */
    height: 100px;
    background-color: blueviolet;

}

/* Partner section */

.flex-par {
    justify-content: space-between;
}

.row-par-l {
    width: 68%;
    /* debug */
    height: 100px;
    background-color: aqua;
}

.row-par-s {
    width: 32%;
        /* debug */
        height: 100px;
        background-color: darkgoldenrod;
}

/* Business section */

.flex-business {
    flex-wrap: wrap;
    gap: 10px;    
}

.row-business {
    width: calc(100% / 3 - 20px / 3);
        /* debug */
        height: 100px;
        background-color: darkgoldenrod;
}

/* Discover section */



/* Img section */

.row-img {
    width: calc(100% / 3);
    /* debug */
    height: 100px;
    background-color: blue;
}

/* Faq section */

.flex-faq {
    flex-direction: column;
}

.row-faq {
    /* debug */
    background-color: cadetblue;
    height: 100px;
}

/* Footer */

footer {
    /* debug */
    margin-top: 30px;
}

/* Footer top */

.flex-footer {
    gap: 10px;
}

.row-footer {
    width: calc(100% / 5 - 20px / 5);
    /* debug */
    height: 100px;
    background-color: forestgreen;
}

/* Footer bottom */

.footer-container {
    
    width: 20%;

    /* debug */
    height: 100px;
    background-color: orange;
    margin-top: 10px;
}