/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.container-s {
    width: 60%;
    margin: 0 auto;
    max-width: 1000px;
}

.container-l {
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    font-size: 2.5rem;
    padding: 2rem 0;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

section {
    padding-top: 2.5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.blue-btn {
    padding: .5rem 1rem;
    background-color: rgb(0 97 255);
    color: white;
    display: inline-block;
}

.white-btn {
    padding: .5rem 1rem;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.blue-btn:hover {
    background-color: rgba(0, 97, 255, 0.8)
    
}

.white-btn:hover {
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
}

/* Header */

header {
    height: 80px;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.header-flex {
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.row-h {
    display: flex;
    align-items: center;
}

header a {
    color: black;
}

header ul {
    display: flex;
}

header li {
    margin: 1rem;
}

header li:hover {
    text-decoration: underline;
}

/* Main */

main {
    margin-top: 80px;   
}

/* Hero */

.hero {
    background-color: rgb(180 208 231);
    
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.row-hero-s {
    width: 30%;
}

.row-hero-s > *  {
    margin-bottom: 1rem;
}

.row-hero-l {
    width: 68%;    
}

.flex-hero {
    justify-content: space-between;
}

/* Subscription section */

.flex-sub {
    justify-content: space-between;
}

.padding-col-sub {
    padding: 2rem;
}
.col-sub {
    width: 32%;
    flex-direction: column;  
    border: 1px solid rgb(220 220 222);
}

.col-sub-header {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.col-sub hr {   
    border: 1px solid rgb(220 220 222)
}

.col-sub-title > * {
    padding-bottom: 1rem;
}

.gray {
    color: gray;
    padding-bottom: 3rem;
}

.col-sub li {
    padding-bottom: 1rem;
}

.sub-btn {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.buynow {
    text-decoration: underline;
    color: blue;
}

.padding {
    padding: 2rem 0
}

.hr-small {
    width: 30%;
}

.check-list i{
    color: blue;
}

/* Enterprise */

.enterprise {
    margin-top: 30px;
    border: 1px solid rgb(220 220 222)

}

.enterprise hr {
    border: 1px solid rgb(220 220 222)
}

.flex-ent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-ent-70 {
    width: 68%;
    padding-bottom: 2rem;
}

.col-ent-30 {
    width: 30%;
}

/* Partner section */

.flex-par {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.row-par-l {
    width: 70%;

}

.row-par-s {
    width: 30%;
}

.row-par-s p {
    padding-bottom: 1rem;
}


/* Business section */

.flex-business {
    flex-wrap: wrap;
    gap: 10px;    
}

.row-business {
    width: calc(100% / 3 - 20px / 3);

}

/* Discover section */

.discover-padding {
    padding-top: 8rem;
}

.discover-link {
    display: block;
    color: blue;
    text-decoration: underline;
    padding-bottom: 5rem;
}

/* Team section */

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(105%) contrast(105%);
}

.row-team {
    width: calc(100% / 3);
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
}

.col-team {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
}

.flex-square {
    justify-content: center;
    align-items: center;
    display: flex;
}

.img-w {
    width: 60%;
}

.designit {
    background-color: #a2d39b;
    border: 1rem solid #d1e9cd;
}

.arizona {
    background-color: #61082b;
}

.florida {
    background-color: #0093ce;
}

.topps {
    background-color: #ff1c1c;
}

.world {
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.lonely {
    background-color: #0d2481;
}

.clear {
    background-color: #ffd830;
}

.row-team-mid {
    padding: 2rem;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.row-team-mid > * {
    margin-bottom: 2rem;
}

.row-team-mid hr {
    width: 20%;
    border: 1px solid rgb(220 220 222)
}

.logo-mid {
    width: 50%;
}

/* Free trial section */
.blue-section {
    background-color: #b4d0e7;
}

.free-row {
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.no-border {
    border-style: none;
}

.wine {
    color: #61082b;
}
/* Faq section */

.faq {
    padding-bottom: 8rem;
}

.flex-faq {
    flex-direction: column;
    position: relative;
}


.row-faq {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1rem 2rem 0;
}

.hover-p {
    padding-top: 2rem;
    display: none;
    width: 90%;
}

.row-faq:hover .hover-p {
    display: block;
}

.row-faq:hover .fa-chevron-down {
    transform: rotate(180deg);
}


/* Footer */

footer {
    padding-top: 5rem;
    background-color: #000000;
}

/* Footer top */

footer {
    color: white;
}

footer a {
    color: inherit;
}

footer li {
    margin-bottom: 1rem;
}

.flex-footer {
    gap: 10px;
}

.row-footer {
    width: calc(100% / 5 - 20px / 5);
}

/* Footer bottom */

.footer-container {
    padding-top: 5rem;
}

.hr-footer {
    width: 120px;
    border-color: #bababa;
}

.language {
    padding: 2rem 0;
    color: #bababa;
}